/*Antonio Iglesias Refolio*/

body {
    font-family: 'Monserrat', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9; 
    text-align: center;
    color: #0b0a0a;
}

header{
    background-color: #333;
}

.barraNavegacion {
    background-color: #333; 
    padding: 10px 0;
}

.listaNavegacion {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.listaNavegacion li {
    margin: 0 20px;
}

.listaNavegacion a {
    color: white; 
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: color 0.3s;
}


.listaNavegacion a:hover {
    color: #a9065d; 
}

img{
    width: 300px;
    margin: auto;
    padding: auto;
    align-items: center;
    display: block;
}

footer{
    background-color: #333;
    color: grey;
    text-align: center;
}